<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Categories</h1>
    </header>

  <div class="category-list">
    <% categories.forEach(category => { %>
      <div class="category-item">
        <h2><%= category.category %></h2>
        <p><%= category.count %> Products</p>
      </div>
    <% }); %>
  </div>

  <%- include('partials/header') %>

  <div class="category-list">
    <% categories.forEach(category => { %>
      <div class="category-item">
        <h2><%= category.category %></h2>
        <p><%= category.count %> Products</p>
      </div>
    <% }); %>
  </div>

  <%- include('partials/footer') %>

  <div class="categories">
    <div class="category-item">
      <h2>Electronics</h2>
      <p>12 Products</p>
    </div>
  </div>
  <div class="categories">
    <div class="category-item">
      <img src="/Users/selinakbay/hmwrk3355_1/project/public/images/electronics.png" alt="Electronics">
      <h2>Electronics</h2>
      <p>12 Products</p>
    </div>
    <div class="category-item">
      <img src="/Users/selinakbay/hmwrk3355_1/project/public/images/furnitures.jpg" alt="Furniture">
      <h2>Furniture</h2>
      <p>16 Products</p>
    </div>
    <div class="category-item">
      <img src="/Users/selinakbay/hmwrk3355_1/project/public/images/home_appliances.jpg" alt="Home Appliances">
      <h2>Home Appliances</h2>
      <p>4 Products</p>
    </div>
    <div class="category-item">
      <img src="/Users/selinakbay/hmwrk3355_1/project/public/images/sports.jpg" alt="Sports">
      <h2>Sports</h2>
      <p>8 Products</p>
    </div>
  </div>
    
</body>
</html>
